.header__lang-link {
  color: #FFFFFF;
  line-height: 28px;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  display: inline-block;
  margin-left: 18px;
  margin-top: 18px;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
}

.header__lang-link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
