.places__list {
  padding-top: 92px;
  padding-left: 148px;
  padding-right: 148px;
  padding-bottom: 92px;
  margin: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 80px;
}

@media screen and (max-width: 1079px) {
  .places__list {
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 1023px) {
  .places__list {
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 90px;
    row-gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places__list {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 66px;
    padding-top: 64px;
    row-gap: 50px;
  }
}
