.website {
  grid-area: website;
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  align-self: end;
  height: 46px;
}

@media screen and (max-width: 767px) {
  .website {
    margin-left: 16px;
    margin-right: 16px;
  }
}
