.website__url-heading {
  color: #AAAAAA;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  display: block;
  margin-bottom: 12px;
}
