.website__link {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: opacity 0.3s ease-in-out;
  text-decoration: underline;
}

.website__link:hover {
  opacity: 0.8;
}
